body {
  margin: 0;
  font-family: Quicksand, arial, helvetica, sans-serif;
  background-color: #d7aab0;
  font-size: 1.1em;
}

h1, h2 {
  color: #d7aab0;
  text-align: center;
  margin: 5px;
}

ul {
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

button {
  background-color: #d7aab0;
  color: #224a66;
  font-family: Quicksand, arial, helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: solid 2px;
  border-radius: 16px;
  border-color: #d7aab0;
}

button:hover {
  background-color: #224a66;
  color: #d7aab0;
}

li {
  padding: 5px 5px 5px 5px;
}

label {
  font-weight: bold;
  display: inline-block;
  padding-right: 5px;
}

input {
  background-color: #224a66;
  color: #d7aab0;
  font-family: Quicksand, arial, helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  border: solid 2px;
  border-radius: 16px;
  border-color: #d7aab0;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
  padding: 0;
  background: #224a66;
  border: 2px solid #d7aab0;
  border-radius: 1px;
  text-align: center;
}

input[type="checkbox"]:checked {
  background: #d7aab0;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type=color] {
  height: 25px;
  width: 25px;
  padding: 0px;
  background: #224a66;
  border: none;
}

td {
  width: 100%;
  height: 50px;
}

select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background-color: #224a66;
  color: #d7aab0;
  font-family: Quicksand, arial, helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: solid 2px;
  border-radius: 16px;
  border-color: #d7aab0;
  box-sizing: border-box;
  padding: 5px;
}

div#container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

div#contentSection {
  min-height: 100%;
  border: solid transparent 1px;
  background-color: #224a66;
}

div#mazeSection {
  flex-grow: 1;
  margin-left: 20px;
}

div#canvasSection {
  margin-top: 20px;
  border: solid transparent 1px;
  border-radius: 5px;
}

div#rawSection {
  text-align: center;
}

div#generate {
  color: #3b3b3b;
  text-align: center;
  margin-top: 25px;
}

div#titleSection {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

table#settings {
  color: #d7aab0;
  margin: 10px;
}

canvas#canvasMaze {
  background-color: white;
}

img#icon {
  float: left;
  margin: 0px;
}
